.form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 15px !important;
    border: 2px solid $primary-color !important;
}

.form-container-md {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 595px;
    border: 2px solid $primary-color;
    border-radius: 15px;
    box-shadow: 30px 30px 100px $fifth-color !important;
    background: #31a9bc;
    background: -webkit-linear-gradient(
        to right,
        rgba(65, 236, 188, 0.5),
        rgba(51, 30, 115, 0.5)
    );
    background: linear-gradient(
        to right,
        rgba(49, 169, 188, 0.5),
        rgba(51, 30, 115, 0.5)
    );
}

.form-container-md:hover {
    transition: 0.30s;
    background: #31a9bc;
    background: -webkit-linear-gradient(
    to right,
    rgba(65, 236, 188, 0.5),
    rgba(51, 30, 115, 0.5)
    );
    background: linear-gradient(
        to right,
        rgba(49, 169, 188, 0.5),
        rgba(51, 30, 115, 0.5)
    );
}

@media (min-width: 700px) {
    #contatti {
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    }
}



