footer {
    background-color: $primary-color;
    height: 150px;
    box-shadow: 0px 0px 25px grey;
}

.bi-github{
    margin-right: 14px;
    color: $secondary-color;
    transition: 0.15s;
}

.bi-github:hover {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transform: rotate(-10deg);
    transition: 0.15s;
}


.bi-linkedin {
    margin-left: 14px;
    color: $secondary-color;
    transition: 0.15s;
}

.bi-linkedin:hover {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transform: rotate(10deg);
    transition: 0.15s;
}

@media (max-width: 576px) {
    .bi-github{
        margin-right: 14px;
        color: $secondary-color;
        transition: none;
    }

    .bi-github:hover {
        cursor: pointer;
        transform: none;
        transition: none;
    }

    .bi-linkedin {
        margin-left: 14px;
        color: $secondary-color;
        transition: none;
    }
    
    .bi-linkedin:hover {
        cursor: pointer;
        transform: none;
        transition: none;
    }
}