.bg-image-cv {
    background-image: url("/assets/img/background-image.webp");
    height: auto;
  }

.cv-mask {
  width: 100%;
  background: #31a9bc;
  background: -webkit-linear-gradient(
    to right,
    rgba(68, 73, 81, 0.85),
    rgba(82, 84, 87, 0.85)
  );
  background: linear-gradient(
    to right,
    rgba(68, 73, 81, 0.85),
    rgba(68, 73, 81, 0.85)
  );

  border: 3px solid $primary-color;
}

.b-col {
    font-weight: bold;
}

@media (max-width: 576px) {
  .cv-mask {
      width: 100%;
      height: auto;
  }
}