article {
    background-color: $primary-color;
    box-shadow: 0px 0px 25px grey;
}

.cardLink {
    display: contents !important;
    display: flex;
    justify-content: center;
}

.card {
    transition: all 0.3s;
    overflow: hidden;
    height: 415px !important;
    border: 3px solid $secondary-color !important;
}

.card:hover {
    transform: scale(1.08);
    border: 3px solid $secondary-color;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover !important;
}

.card-title {
    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 376px) {
    .card-row {
        display: flex;
        justify-content: center;
    }

    .card-column {
        width: 95% !important;
    }
}

@media (min-width: 376px) and (max-width: 426px) {
    .card-row {
        display: flex;
        justify-content: center;
    }

    .card-column {
        width: 90% !important;
    }
}

@media (max-width: 576px) {
    .card {
        transition: all 0.3s;
    }

    .card:hover {
        transform: scale(1);
        border: 1px solid white;
    }
}

@media (min-width: 426px) and (max-width: 767px) {
    .card-row {
        display: flex;
        justify-content: center;
    }

    .card-column {
        width: 90% !important;
    }
}


@media (min-width: 768px) {
    .card-row {
        display: flex;
        justify-content: space-evenly;
    }

    .card-column {
        width: 45% !important;
    }
}
