h2 {
    color: $primary-color;
    font-size:  3rem !important;
}

p {
    font-size: 20px;
}

@media (min-width: 320px) and (max-width: 576px) {

    .maintitle {
        font-size: 3rem !important;
    }

    h2 {
        font-size: 2rem !important;
    }

    p {
        font-size: 16px;
    }
}

