@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/functions";
@import "custom";
@import "typography";
@import "buttons";
@import "intro";
@import "portfolio";
@import "navbar";
@import "contatti";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}







